<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.6">
    <script>node {
   stage &apos;scm&apos;
   echo &apos;Hello World 1&apos;
   stage &apos;build&apos;
   echo &apos;Hello World 2&apos;
   stage &apos;existence&apos;
   echo &apos;Hello World 3&apos;
   stage &apos;image&apos;
   echo &apos;Hello World 4&apos;
   stage &apos;regression&apos;
   echo &apos;Hello World 5&apos;
   stage &apos;report&apos;
   echo &apos;Hello World 6&apos;
   stage &apos;deploy&apos;
   echo &apos;Hello World 7&apos;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 0 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
</flow-definition>